[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pytest = "*"
pylint = "*"

[packages]
tensorflow = ">=2.0.0"
gensim = "*"
more-itertools = "*"
tqdm = "*"
coloredlogs = "*"
matplotlib = "*"
tf-metrics = {editable = true,git = "https://github.com/guillaumegenthial/tf_metrics.git"}
pyyaml = "*"
fasttext = "*"
openpyxl = "*"
jieba = "*"
sklearn = "*"
tensorflow-addons = "*"

[requires]
python_version = "3.6"
